@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-family: montserrat, sans-serif;
    color: #040a2c;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    border-block-end: 1px solid #040a2c;
    color: #040a2c;
}

a:hover {
    color: #ff7f00;
    border-color: #ff7f00;
}

button {
    font-family: inherit;
    color: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-transform: none;
    cursor: pointer;
    background-color: #fff;
}

.main-header {
    background-color: #ff7f00;
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.gallery-container {
    background-color: #e3e3e3;
    max-width: 100%;
    padding: 30px 50px;
    display: block;
}

.search {
    display: none;
    /* margin-bottom: 30px; */
}

.images-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 160px); */
    /* grid-auto-rows: 160px; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 25px;
}

.images-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
  
.images-container > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.images-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.editor-container {
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: #e3e3e3;
}

.editor-img {
    flex-basis: 50%;
}

.editor-controls {
    flex-basis: 50%;
}

.about {
    display: none;
}

footer {
    background-color: #ff7f00;
    height: 200px;
}

footer small {
    font-family: montserrat-thin, sans-serif;
    color: #fff;
    font-size: 1rem;
}

/* helpers */
.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex.content-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.align-flex-start {
    align-items: flex-start;
}

.flex.direction-column {
    flex-direction: column;
}