/* Typography */

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: montserrat-regular, sans-serif;
    color: #040a2c;
}

body {
    margin: 0;
    background-color: #e3e3e3;
}

a {
    text-decoration: none;
    display: inline-block;
    border-block-end: 1px solid #040a2c;
    color: #040a2c;
}

a:hover {
    color: #ff7f00;
    border-color: #ff7f00;
}

p {
    margin: 0;
}

button {
    font-family: inherit;
    color: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-transform: none;
    cursor: pointer;
}

/* Layout */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

/* header */

.main-header {
    background-color: #ff7f00;
}

.logo {
    height: 70px;
}

.hamburger {
    display: none;
}

.main-nav a {
    height: 70px;
    color: #fff;
    font-size: 1.25rem;
    border: none;
}

.main-nav li:not(:last-child) {
    padding-right: 30px;
}

.main-nav a:hover {
    color: #040a2c;
}

.main-nav a.active {
    color: #040a2c;
    box-shadow: inset 0 -3px 0 #040a2c;
    cursor: default;
}

/* image gallery */

.gallery-container {
    display: block;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search {
    display: none;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: 160px;
    grid-gap: 25px;
}

/* .images-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
  
.images-container > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
} */

.images-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #040a2c;
}

/* meme editor */

.editor-container {
    display: none;
    height: calc(100vh - 70px);
    padding-top: 30px;
    padding-bottom: 30px;
}

.editor-img {
    flex-basis: 50%;
}

.editor-controls {
    flex-basis: 50%;
    padding-left: 85px;
}

.editor-controls-container {
    width: 23.25rem;
    height: 100%;
}

.editor-element {
    background-color: #fff;
    border-radius: 0.75rem;
}

.editor-btn {
    width: 3.75rem;
    height: 3.75rem;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
}

.editor-btn:not(:last-child) {
    margin-right: 0.8rem;
}

.editor-btn img {
    width: 100%;
}

.editor-input {
    width: 100%;
    height: 3.75rem;
    border: none;
    font-size: 1.25rem;
    padding: 1.3rem;
    color: #000;
    margin-bottom: 0.625rem;
}

.btn-line-1 {
    margin-bottom: 2rem;
}

.btn-line-3 {
    margin-bottom: 1.25rem;
}

input[type="color"] {
    display: none;
}

.font-select {
    width: 13.2rem;
    height: 3.75rem;
    border: none;
    margin: none;
    font-size: 1.25rem;
    padding: 1.3rem;
    color: #000;
    margin-bottom: 0.625rem;
    margin-right: 1.5rem;
}

.sticker-container {
    width: 100%;
    height: 8.44rem;
    margin-bottom: 1.875rem;
}

.arrow-btn {
    background-color: #fff;
    height: 3.75rem;
    padding: 0.625rem;
}

.arrow-btn img {
    height: 100%;
}

.share-btn {
    width: 7.5rem;
    height: 3.75rem;
    background-color: #ff7f00;
    border-radius: 0.75rem;
    font-family: montserrat-medium;
    color: #fff;
    font-size: 1.25rem;
}

.editor-controls a {
    border: none;
    color: #fff;
    align-self: flex-end;
}

.editor-controls a:hover {
    border: none;
    color: #fff;
}

.editor-controls-container > .share-btn {
    align-self: flex-end;
    margin-top: 0.625rem;
}

/* about */

.about {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-img {
    width: 320px;
    height: 320px;
    margin-right: 40px;
}

.about-img img {
    width: 100%;
    border-radius: 100%;
}

.about-info .name {
    font-family: montserrat-bold;
    font-size: 1.5625rem;
    margin-bottom: 1rem;
}

.about-info .text {
    width: 530px;
    font-size: 1.25rem;
    margin-bottom: 50px;
}

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #ff7f00;
    padding: 6px;
}

.social img {
    width: 100%;
    -webkit-filter: invert(100%);
}

a.social {
    border: none;
}

a.social {
    border: none;
}

/* footer */

.main-footer {
    background-color: #ff7f00;
    height: 200px;
}

.main-footer small {
    font-family: montserrat-thin, sans-serif;
    color: #fff;
    font-size: 1rem;
}

/* helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex.content-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.direction-column {
    flex-direction: column;
}

/* media querys */

@media (max-width: 830px) {
    .hamburger {
        height: 38px;
        display: block;
    }
    
    .hamburger img {
        height: 100%;
    }

    .hamburger img.open {
        display: block;
    }

    .hamburger img.close {
        display: none;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ff7f00;
        width: 100vw;
        height: 100px;
        position: absolute;
        top: 70px;
        right: 0;
    }

    .main-nav a {
        margin-bottom: 1.25rem;
        height: 1.26rem;
        margin-left: 50px;
    }

    .main-nav li:not(:last-child) {
        padding-right: 0;
    }

    .menu-open .main-nav {
        display: flex;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6);
    }

    .menu-open .hamburger img.open {
        display: none;
    }

    .menu-open .hamburger img.close {
        display: block;
    }
    
    .editor-container {
        height: 100%;
        flex-direction: column;
    }

    .editor-img {
        flex-basis: 100%;
        padding-bottom: 10px;
    }
    
    .editor-controls {
        flex-basis: 100%;
        padding-left: 0;
    }

    .editor-controls-container {
        width: 100%;
    }

    .editor-btn {
        width: 2.5rem;
        height: 2.5rem;
    }

    .editor-input {
        width: 100%;
        height: 2.5rem;
    }

    .btn-line-1, .btn-line-2, .btn-line-3 {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0;
    }
    
    .font-select {
        height: 2.5rem;
    }
    
    .sticker-container {
        height: 3.44rem;
        margin-bottom: 0.875rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .arrow-btn {
        height: 2.5rem;
    }

    .editor-controls-container > .share-btn {
        margin-top: 0;
    }

    .editor-controls-container > a {
        align-self: auto;
    }

    .about {
        padding-top: 80px;
        padding-bottom: 80px;
        flex-direction: column;
    }
    
    .about-img {
        width: 160px;
        height: 160px;
        margin-right: 0;
        margin-bottom: 1.44rem;
    }
    
    .about-info {
        text-align: center;
    }

    .about-info .name {
        font-family: montserrat-bold;
        font-size: 1.375rem;
        color: #ff7f00;
        margin-bottom: 1.44rem;
    }
    
    .about-info .text {
        width: 280px;
        font-size: 0.94rem;
        margin-bottom: 1rem;
    }
}